DB_CONNECTION=Host=localhost;Port=5432;Database=movevn_db;Username=postgres;Password=your_password
JWT_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET_KEY_FOR_MOVEVN
JWT_ISSUER=MoveVNAPI
JWT_AUDIENCE=MoveVNClient
JWT_EXPIRE_MINUTES=60
UPSTASH_REDIS_REST_URL=https://YOUR_DATABASE.upstash.io
UPSTASH_REDIS_REST_TOKEN=YOUR_UPSTASH_REST_TOKEN



