DB_CONNECTION=Server=.;Database=CookingCommunicateDb;Trusted_Connection=True;TrustServerCertificate=True
JWT_KEY=SUPER_SECRET_KEY_FOR_COOKING_COMMUNICATE_123456789
JWT_ISSUER=CookingCommunicateAPI
JWT_AUDIENCE=CookingCommunicateClient
JWT_EXPIRE_MINUTES=60
